*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: rgb(248, 247, 246);
  margin: 0;
  padding: 0;
  height: 100vh; /* Adjust height to viewport height */
  width: 100%;
  display: flex; /* Add flex display */
  justify-content: center; /* Center children along the main axis (horizontally) */
  align-items: center; /* Center children along the cross axis (vertically) */
}

.main {
  border-style: hidden;
  height: 90vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 2% 2%;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;

}

.main2 {
  border-style:hidden;
  padding: 1rem;
  background-color: rgb(241, 240, 240);
  border-radius: 1.5% 1.5%;

}



.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;


}
  
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: stretch;
  padding: 1rem;
 
  width: 100%;
  

}

.btncomponent {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: white;
 
  border-radius: 5% 5%;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  

  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

}
.btncomponent:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
}

.btncomponent2 {
  display: flex;
 
  justify-content: center;
  align-items: stretch;
  align-items: center;
  width: 100%;
  border-radius: 5% 5%;
  margin: "1rem";
  border-color: black;
  border-style: dotted;

}

.btncomponent3 {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.flex1 {
  flex: 1
}

.flex2 {
  flex: 2
}



.button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex: 0 1 auto; /* Don't grow, shrink if necessary, base size on content */
  max-width: 100%;
  background-color: aliceblue;
  color: black;
  border: none;
  font-size: xx-large;
  font-family: 'Roboto', sans-serif;
}


.big-font {
  color: black;
  border: none;
  font-size: xx-large;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: aliceblue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1000; /* High value to ensure it's on top of other content */
  display: flex;
  justify-content: center; /* Horizontally center child content */
  align-items: center; /* Vertically center child content */
}


.modal {
  background-color: white;
  padding: 10px 25px; /* 20px top and bottom, 50px left and right */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Value higher than the overlay to ensure the modal is on top */
  overflow-y: auto; /* Scroll if content is too long */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%; /* center the modal vertically */
  left: 50%; /* center the modal horizontally */
  transform: translate(-50%, -50%); /* ensures true centering */
  max-width: 50%;
  max-height: 80%;
}


/* Base tooltip styling */
.leaflet-tooltip {
  background-color: rgba(0, 0, 0, 0.75); /* semi-transparent black */
  border-radius: 4px;
  color: #ffffff; /* white text */
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
}

/* Remove the default Leaflet tooltip arrow */
.leaflet-tooltip:before {
  border: none !important;
}

.my-custom-tooltip {
  width: 300px;
  height: 210px;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-close:focus {
  outline: none;
}

.flash-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.flash-modal-message {
  z-index: 10000;
  max-width: 500px;
}